build/
install/
log/
.vscode/

# Ignore compiled python files
__pycache__/
*.pyc
*.pyo

# Ignore database and large model files
*.db
*.pt

# Ignore legacy analyzer code
src/rescue_bot/rescue_bot/analyzer/archive/
src/rescue_bot/rescue_bot/analyzer/webcam_legacy/
src/rescue_bot/rescue_bot/drawio/

# Ignore test files
src/rescue_bot/rescue_bot/tests/
